.bus-label {
    border-radius: 20px;
    display: inline-block;
    margin: auto;
    font-size: 100px;
    padding: 10px 20px;
    min-width: 200px;
    color: #ffffff;
    background-color: #ffffff;
}

.VBG{
    border: #000000 solid 1px;
    background-color: #ffffff;
    color: #000000;
}

.VBZF{
    color: #000000;
    background-color: #92d6e3;
}

.SBB{
    color: #ffffff;
    border-color: #463378;
}

body {
    text-align: center;
}

.site-title {
    text-align: left;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
}

h2.subtitle {
    font-size: 80px;
}

#delay {
    font-size: 50px;
    margin-top: -40px;
}